*{
	margin: 0;
	padding: 0;
}
@font-face{
	font-family: m_Brody; 
    src: url(../fonts/m-brody.ttf);
	}
	@font-face{
    font-family: Roboto Condensed; 
    src: url(../fonts/RobotoCondensed-Regular.ttf);
	font-weight: 100;
	}
	@font-face{    
    font-family: PT Sans; 
    src: url(../fonts/PT_Sans.ttf);
	}
	@font-face{
    font-family: Myriad Pro;
    src : url(../fonts/MyriadPro-Regular.otf);
}
body {
	background: url(../assets/images/backgroundBottom.gif)  bottom repeat-x, url(../assets/images/backgroundTop.gif)  top repeat-x, url(../assets/images/background.gif);
	width: 998px;
	margin: 0 auto;
	padding: 0;
	font-family: m_Brody;
	color: rgb(99, 101, 111);
	font-size: 100%;
}

header{
	overflow: hidden;	
}
.logo{
	background-color: rgba(51,51,59,1);
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../assets/images/logo.png);
	border-radius: 0 0 20px 20px;
	padding: 20px;
	width: 22.32%;
	height: 68px;
	float: left;
}
.socialButtom {
	width: 392px;
	float: right;	
	margin-right: 35px;
	margin-top: 60px;
}

.socialButtom a {
	background-color: rgb(51,51,59);
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	border-width: 0;
	display: inline-block;
	width: 58px;
	height: 58px;
	margin-right: 30px;
}
a.mailHref {
	background-image: url(../assets/images/mailButton.png);
}
a.vkHref {
	background-color: rgb(30, 30, 34);
	background-image: url(../assets/images/vkButton.png);
}
a.twitterHref {
	background-image: url(../assets/images/twitterButton.png);
}
a.facebookHref {
	background-image: url(../assets/images/facebookButton.png);
}

 
.headerTitle{
	width: 345px;
	margin-top: 197px;
}
.headerTitle img {
	float: left;
}
.headerTitle h1{
	font-family: 'Roboto Condensed';
	display: block;
	color: rgb(208, 162, 43);
	font-size: 2.7em;
	font-weight: normal;
	text-transform: uppercase;
	margin-left: 100px;
	line-height: 1.1em;
	text-shadow:rgb(0, 0, 0) 1px 2px 2px;
}
.headerTitle p.lineBeforeAfter{
	background: inherit;
	color: rgb(82,80,81);	
	float: left;
	padding: 8px 0;	
	font-size: 1.1em;
	display: inline-block;
	
}
.headerTitle p{
		
	font-family: 'PT Sans';
	color: rgb(188,186,171);
	margin: 0;
	font-size: 1.1em;	
	text-shadow:  rgb(0,0,0) 0 1px  0px;
	
}
.headerTitle p.second{
	display: none;
}
.lineBeforeAfter:before, .lineBeforeAfter:after{
	content:"";
	display: inline-block;	
	width: 62px;
	margin-bottom: 4px;
	border-top: 1.5px solid rgb(44, 44, 46);
	border-bottom: 1.5px solid rgb(99, 101, 111);	
}
.lineBeforeAfter:before{
	margin-right: 3px;
}
.lineBeforeAfter:after{
	margin-left: 3px;
	width: 58px;
}

.download{
	width: 236px;	
	margin-top: 130px;
	height: 100px;
	float: left;

}
.download h2{
	font-family: 'PT Sans';
	text-transform: uppercase;
	text-align: center;
	font-size: 1.2em;	
	padding: 0 35px;
}
.download h2:last-of-type{
	margin-top: 17px;	
	padding: 0;
}
button{
	width: 236px;
	font-family: 'Myriad Pro';
	font-size: 1.1em;
	padding-left: 64px;
	text-align: left;
	border-radius: 10px;
	background-repeat:  no-repeat; 
	background-position:  13% center;
	display: block;
	border: 1px solid rgb(238,192,124);
	margin-top: 5.15%;
	height: 70px;
	box-shadow: rgb(92,92,92) 0 1px 2px;
	color: white;
}
button>span{
	text-transform: capitalize;
	font-size: 1.9em;
}
.download p{
	width: 100%;
	margin-top: 10px;	
	font-size: 2em;
}
.download p:before, .download p:after{
	content: "";
	width: 82px;
	margin-bottom: 7px;
	background-color: rgb(154,145,143);
	display: inline-block;	
	border-top: 1.5px solid rgba(215, 215, 215, .8);
	border-bottom: 1.5px solid rgba(250, 250, 250, .8);
}
.download p:before{
	margin-right: 7px;
}
.download p:after{
	margin-left: 7px;
}
.download button:first-of-type{		
	background-image: url(../assets/images/iphoneButtonWhite.png) ,linear-gradient(to bottom, rgb(240,223,129), rgb(214,154,54));
}
.download button:first-of-type:hover{
	color: rgb(181,140,20);
	background-image:url(../assets/images/iphoneButton1.png), linear-gradient(to bottom, rgb(184,145,24), rgb(232,217,125));
}
.download button:last-of-type{
	border-color: rgb(208,203,189);
	background-image: url(../assets/images/iphoneButtonWhite.png) ,linear-gradient(to bottom, rgb(214,209,197), rgb(180, 173, 153));
}
.download button:last-of-type:hover{
	color: rgb(155,148,136);
	background-image:url(../assets/images/iphoneButton2.png), linear-gradient(to bottom, rgb(154,149,135), rgb(200,196,188));
}
.slyders{
	float: right;
	width: 685px;
}
.slyderName{
	display: none;
	clear: both;
	text-align: center;
	width: 200px;
	margin: 0;
	
}
.slyder{
	box-shadow: black 0 3px 3px;
	border-radius: 35px;
	position: relative;
}
p.slyderName a{
	font-family: 'Myriad Pro';
	color: rgb(82,80,81);
	font-size: .85em;
	text-decoration: none;
}
p a.activeSlyder{
	text-decoration: underline;
	color: rgb(188,186,171);
}
.allScrinshot {
	float: left;
	margin-top: -275px;
	position: relative;
	font-size: 1.8em;
	width: 25%;
	line-height: .89em;
	}
.allScrinshot:after{
	 width: 22.0483%;
	 height: 50.888%;
	 content: "";
	 position: absolute;
	 top: 22%;
	 right: 10%;
	 background: url(../assets/images/arrow.png) no-repeat;
}
.iphoneSlyder{
	height: 401px;
	width: 212px;
	background: url(../assets/images/iphone_bk.png) no-repeat center top;
	float: left;
	margin: 40px 0 0 15px;
	z-index: 1;
	padding: 68px 9px 11px;
}
.iphoneSlyder img {
	width: 100%;
	height: 86%;
}
.slyder a{
	float: left;
	background-color: rgb(43, 43, 41);
	background-repeat: no-repeat;
	background-position: center;
	width: 35px;
	background-image: url(../assets/images/buttonBack.png);
	height: 35px;
	border-radius: 50%;
	display: inline-block;
	border: 3px solid rgb(66, 65, 65);
	list-style-type: none;
	margin-top:10px;
	margin-left: 21px;
}
.slyder a:last-of-type {
	float: right;
	margin-right: 19px;
}
.slyder a:hover{
	background-color: rgb(29, 29, 28);
	background-image: url(../assets/images/buttonBackHover.png);
	border-width: 2px;
}

.slyder li {
	float: left;
	margin-top: 15px;
	font-size: 2.2em;
	margin-right: 20px;
	color: rgb(133, 131, 125);
}
.slyder li:first-child{
	clear: both;
	margin-left: 70px;
}
.nextSlider {
	-webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.ipadSlyder{
	width: 411px;
	height: 558px;
	background: url(../assets/images/ipad_bk.png);
	border-radius: 4.5%;
	margin-top: -206px;
	margin-left: 164px;
	padding: 55px;

}
.ipadSlyder img {
	height: 84%;
	width: 80%;
	position: absolute;
}
.ipadSlyder  a{
	margin-top: 101%;	
	margin-left: 25%;
}

.ipadSlyder  a:last-of-type{
	margin-right: 31%;
	margin-left: 0;
}
.ipadSlyder li{
	margin-top: -9%;
	

}
.ipadSlyder li:first-child{
	margin-left: 45%; 
}
.container nav{
	width: 100%;
	position: relative;
	float: left;
	margin-top: 85px;
	padding-bottom: 45px;
}
.container nav:after{
	content: "";
	width: 98%;
	height: 5px;	
	position: absolute;
	margin-top: 23.4%;
	margin-left: -97%;
	background-image:radial-gradient(circle at 50% -50%, rgba(0, 0, 0, .8), rgba(0,0,0,0));
	
}
.container nav a{
	margin: 0 0 0 28px;
	
	width: 160px;
	display: inline-block;
	color: rgb(82,80,81);
	float: left;
	text-decoration: none;
	font-weight: 100;
}
.container nav a>img{
	margin: 0 47px;
}
.container nav a>h3{
	text-align: center;
	font-size: 1.65em;
	font-family: 'Roboto Condensed';
	margin-top: 7px;
}
.container nav a>p{
	font-family: 'PT Sans';
	text-align:center;
	font-size: 1.2em;
	margin-top: 13px;
	color: rgb(133, 131, 125);
}
.container nav a:nth-of-type(2){
	margin-left: 30px;
	width: 190px;
}
.container nav a:nth-of-type(3){
	margin-left: 0;
	width: 198px;
}

.stat{
	width: 100%;
	float: left;
	font-family: 'PT Sans';
}
.stat h2{
	font-family: 'Roboto Condensed';
	margin-top: 40px;
	font-size: 2.75em;
	font-weight: 500;
	text-align: center;
	color: rgb(154, 121, 32);
}
.stat p{
	font-size: 1.25em;	
	text-align: left;
	margin-top: 30px;
	
	line-height: 1.5em;
}
.stat p:first-of-type{
	margin-top: 26px;
	word-spacing: .7em;
}
.stat p>a {
	color: rgb(154,121,32);
}
footer{	
	width: 100%;
	height: 135px;
	float: left;
	font-family: 'PT Sans';
	margin-top: 120px;
	font-size: 1.5em;
	padding-bottom: 72px;
}
footer>a{
	width: 265px;
	padding: 12px 0;
	background: rgb(51,51,59);	
	text-decoration: none;
	font-size: .874em;
	margin-top: 24px;
	display: inline-block;
	border-radius: 10px;
	color: rgb(148,148,152);
	text-align: center;
}
.footerButton{
	float: right;
	margin-top: -14px;
	font-family: 'Myriad Pro';

}
.footerButton li{
	width:55px;
	position: relative;
	list-style-type: none;
	display: inline-block;
	float: right;
	height: 53px;
	margin-left: 42px;
	margin-right: 1px;
	border-radius: 10px;
	background: rgb(62,64,73);
	overflow: hidden;
	color: rgb(255,255,255);

}
.footerButton li:before{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	top: 20px;
	right: 20px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 6.5px solid rgb(62,64,73);

}

.footerButton li>p{
	text-align: center;
	margin-top: 4px;
	font-size: .5em;
	margin-bottom: 2px;
	text-shadow:rgb(0,0,0) 0 0 1px;
}
.footerButton li>figure{
	height: 30px;
	background-repeat: no-repeat;
	background-position: center;
	font-family: Arial;
	font-size: .7em;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	padding-top: 5px;

}
.twitFooter figure{
	background-color: rgb(52,91,131);
	background-image: url(../assets/images/twitterButtonW.png);
}
.facebookFooter figure{
	background-color: rgb(62,79,134);
	background-image: url(../assets/images/facebookButtonW.png);
}
.mailFooter figure{
	background-color: rgb(113,137,37);
	background-image: url(../assets/images/mailButtonW.png);
}
.googleFooter figure{
	background-color: rgb(44,44,44);
	
}
.vkFooter figure{
	background-color: rgb(77,111,147);
	background-image: url(../assets/images/vkButtonW.png);
}
@media screen and (max-width: 768px) {
	body{
		width: 768px;
		background-size: auto 260px,auto 395px, auto;
		padding-right: 15px;
	}
	.logo{
		width: 158px;
		height: 42px;
		margin-left: 15px;
		border-radius: 0 0 15px 15px;
		background-size: 85%;
	}
	.socialButtom{		
		margin-top: 25px;
		margin-right: 40px;
	}
	.socialButtom a{
		margin-right: 35px;
	}
	.headerTitle{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
		text-align: center;
		margin-bottom: 60px;
		margin-top: 116px;
	}
	.headerTitle img{
		width: 85px;
		order: 1;
		margin-top: 20px;
		position: absolute;
		margin-left: 215px;
	}
	.headerTitle h1{
		float: left;
		margin-left: 11px;
		width: 160px;
		margin-top: 20px;
		order:1;			
	}
	.headerTitle div{
		width: 315px;
		margin-top: 23px;
		order:1;
		align-items:center;
	}
	
	.headerTitle p{
		order: 1;
		font-family: 'Myriad Pro';
	}
	.headerTitle p.lineBeforeAfter{
		order: 0;
		font-size: 1.15em;
		letter-spacing: -.06em;
		font-weight: bold;
		color: rgb(82,80,81);
		font-family: 'Myriad Pro';
		width: 100%;
	}
	p.lineBeforeAfter:before,p.lineBeforeAfter:after{
		width: 36%;
	}
	.headerTitle p.first{
		display: none;
	}
	.headerTitle p.second{
		width: 400px;
		display: inline-block;
		font-size: 1.1em;
		margin-top: 20px;
		letter-spacing: 0;
	}
	.download{
		width: 580px;
		margin-top: 0px;
		margin-bottom: 63px;
		padding: 40px 95px;
		display: flex;
		flex-wrap: wrap;


	}
	.download h2{
		width: 200px;
		line-height: 1.6em;
		float: left;
		padding: 0;
		margin-left: 20px;
		
	}
	.download button{
		margin-top: 8px;
		height: 69px;
		float: left;
		order:1;
	}
	.download p{
		width: 35px;
		float: left;
		order:1;
		height: 35px;
		margin: 20px 36px;
	}
	.download p:before, .download p:after{
		display: none;
	}
	.download h2:last-of-type{
		width: 150px;
		margin: 0 0 0 160px;
	}
	.slyders{
		width: 697px;
		float: left;
		margin-left: 50px;
	}
	.slyders p{
		margin: 44px 0 0 0;
		font-size: 1.75em;
	}
	.iphoneSlyder{
		clear: both;
		margin: 150px 0 0 30px;
	}
	.ipadSlyder{
		margin: 0 0 0 180px;
	}
	.ipadSlyder a{
		margin-top: 530px;
	}
	.container nav{
		width: 570px;
		margin-top: 70px;
		margin-left: 115px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-bottom: 53px;
	}
	.container nav a{
		width: 140px;
		margin: 37px 0 0 0;
	}
	.container nav:after{
		display: none;
	}
	.container nav a>h3{
		font-size: 1.75em;
		font-weight: 100;
	}
	.container nav a>p{
		font-size: 1.1em;
		font-family: 'Myriad Pro';
		font-weight: 500;
		margin-top: 8px;
	}
	.stat{
		display: none;
	}
	footer{
		width: 700px;
		margin-top: 56px;
		padding-left: 50px;
	}
	.footerButton{
		width: 300px;		
		margin-top: -67px;
		margin-right: 0px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.footerButton li{
		margin: 0 33px 30px 12px;
	}
	.facebookFooter, .twitFooter{
		order:1;
	}
	.googleFooter, .mailFooter{
		order:2;
	}
}
@media screen and (max-width: 480px) {
	body{
		width: 407px;
		padding: 0;
		background: url(../assets/images/backgroundBottom.gif)repeat-x,url(../assets/images/backgroundBottom.gif) repeat-x, url(../assets/images/backgroundTop.gif) top repeat-x, url(../assets/images/background.gif);
		background-position-y: 720px,bottom,top;
		padding-bottom: 5px;
		padding-left: 13px;
		margin: 0;
		height: 2150px;
		background-size: auto 430px,auto 390px, auto 380px, auto;
	}
	header, div.cotainer{
		width: 407px;
	}
	.logo{
		width: 19px;
		margin: 0;
		padding: 10px 20px;
		background-image: url(../assets/images/logo1.png);
	}
	.socialButtom{
		margin: 15px;
		width: 315px;
		
	}
	.socialButtom a{
		width: 44px;
		height: 44px;
		background-size: 50%;
		margin-right: 40px;
	}
	a.facebookHref{
		background-size: 26%;
	}
	.socialButtom a:last-of-type{
		margin: 0;
		background-size: 85%;
	}
	p.lineBeforeAfter:before,p.lineBeforeAfter:after{
		width: 95px;

	}
	p.lineBeforeAfter:before{
			margin-right: 10px;
	}
	p.lineBeforeAfter:after{
		margin-left: 10px;
	}
	.headerTitle{
		margin-top: 87px;
		margin-bottom: 34px;
	}
	.headerTitle p.lineBeforeAfter{
		padding: 15px 0;
		font-size: 1.1em;
	}
	.headerTitle img{
		order:0;
		width: 70px;
		margin: 0;
		position: relative;
	}
	.headerTitle h1{
		width: 270px;
		margin: 10px 0 0 0;
		font-size: 1.89em;
	}
	.headerTitle p.second{
		font-size: 1.2em;
		width: 371px;
		text-indent: 20px;
		text-align: justify;
		margin-top: 25px;
	}
	.download{
		width: 240px;
		margin: 0 0 0 76px;
		height: auto;
		padding: 10px 0 0;
		flex-wrap: wrap;		
		justify-content: center;
	}
	.download h2{
		font-family: 'Myriad Pro';
	}
	.download h2:last-of-type{
		width: 236px;
		order: 1;
		margin: 13px 0;

	}
	.download p{
		margin: 5px 0 25px;
		height: 20px;
		width: 236px;
	}
	.download p:before, .download p:after{
		display: inline-block;
		width: 93px;
	}
	p.allScrinshot, section.ipadSlyder{
		display: none;
	}
	.slyders{
		margin:6px 0 0 0;
		width: 407px; 
	}
	p.slyderName{
		width: 400px;
		display:block;
		float: left;
		margin:15px 0 0 0;
	}
	.iphoneSlyder{
		margin: 30px 0 0 83px;
	}
	.slyder a{
		width: 45px;
		height: 45px;
		background-color: inherit;
		background-image: url(../assets/images/buttonBack1.png);
		border: none;
		position: absolute;
		margin-top: -200px; 
	}
	a.nextSlider{
		margin-left: 260px;
		transform: none;
	}
	a.backSlider{
		transform: rotate(180deg);
		margin-left: -85px
	}
	.slyder a:hover{
		background-color: inherit;
		background-image:url(../assets/images/buttonBackHover1.png); 
	}
	.slyder li{
		margin-top: 62px;		
	}
	.slyder li:first-child{
		margin-left: 70px;
	}
	.container nav{
		width: 385px;
		margin-top: 40px;
		margin-left: 4px;
		padding-bottom: 35px;
	}
	.container nav a{
		margin-top: 25px;
	}
	.container nav a:nth-of-type(2),.container nav a:last-of-type{
		margin-left: 65px;
		width: 175px;
	}
	.container nav a:nth-of-type(3){
		display: none;
	}
	footer{
		width: 407px;
		margin-top: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-content:center;

	}
	footer p, footer a{
		order: 1;
		font-family: 'Myriad Pro';
		font-size: .95em;
	}
	.footerButton{
		width: 407px;
		margin-top: 39px;
	}
	.footerButton li{
		margin: 0;
		margin-right: 25px;
	}
	footer p.footerInfo{
		width: 235px;
		margin-left: 90px;
		margin-top: 105px;
		font-weight: bold;
		
	}
	footer>a{
		width: 220px;
		margin-top: 80px;
		margin-left: 60px;
		padding: 10px 25px 40px 20px;
		margin-bottom: 65px;

	}
}
@media screen and (max-width: 320px){
	body{
		width: 320px;
		height: 2625px;
		padding: 0;		
		background-position-y: 710px, bottom, top;
		background-size: auto 430px, auto 410px, auto 375px, auto;
	}
	header{
		width: 320px;
		margin: 0;
	}
	.logo{
		margin-left: 15px;
	}
	.socialButtom{
		width: 225px;
		margin: 15px 10px;
	}
	.socialButtom a{
		margin-right: 9px;
	}
	.headerTitle img{
		position: absolute;
		margin-top: 15px;
		margin-left: 45px;
	}
	.headerTitle h1{
		width: 155px;
		order: 0;
		margin-top: 15px;
		margin-left: 95px;
		text-align: left;
	}
	.headerTitle p.lineBeforeAfter{
		width: 320px;
		margin-left: -52px;
	}
	p.lineBeforeAfter:before, p.lineBeforeAfter:after{
		width: 52px;
	}
	p.lineBeforeAfter:before{
		
		margin-right: 10px;
	}
	p.lineBeforeAfter:after{
		margin-left: 10px;
	}
	.headerTitle{
		margin-bottom: 50px;
	}
	.headerTitle p.second{
		width: 215px;
		text-align: center;
		margin-top: 15px;
		font-size: 1.1em;
	}
	.download{
		margin-left: 40px;
	}
	.download h2:last-of-type{
		width: 300px;
	}
	.slyders, p.slyderName{
		width: 320px;
	}
	.iphoneSlyder{
		margin-left: 40px;
	}
	a.backSlider{
		margin-left: -55px;
	}
	a.nextSlider{
		margin-left: 222px;
	}
	.container nav{
		width: 320px;
		margin-top: 25px;
		margin-bottom: 35px;
	}
	.container nav a,.container nav a:nth-of-type(2), .container nav a:last-of-type{
		width: 190px;
		margin-left: 0;
		margin-top: 45px;
	}
	.container nav a>p{
		width: 190px;
	}
	.footerButton{
		width: 300px;
		margin-left: 33px;
		margin-top: 58px;
	}
	.footerButton li{
		margin-right: 45px;
		margin-bottom: 28px;
	}
	footer p.footerInfo{
		width: 320px;
		margin-top: 181px;
		margin-left: 0;
		text-align: center;
	}
	footer>a{
		margin-left: 28px;
		margin-bottom: 40px;
	}
}